body {
    padding: 20px;
    margin: 0px;
}

.escenario {
    border: 1px solid #ccc;
    padding: 10px;
}

.escenario-1 {
    width: 100%;
}

.escenario-2 {
    width: 50%;
}

.px {
    background-color: green;
    width: 200px;
}

.porcentaje {
    background-color: red;
    width: 50%; /* El porcentaje se aplica en relación a su elemento padre. */
}

.view {
    background-color: coral;
    width: 50vw; /* Hace referencia al ancho de la pantalla. */
}





